<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ERP_EMI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ERP_EMI.My.MySettings>
            <setting name="Port_Timbangan" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="Lokasi" serializeAs="String">
                <value>HEAD OFFICE</value>
            </setting>
            <setting name="Punya" serializeAs="String">
                <value>MS</value>
            </setting>
            <setting name="Prt_Name" serializeAs="String">
                <value>XXX</value>
            </setting>
            <setting name="Prt_Name_TS" serializeAs="String">
                <value>XXX</value>
            </setting>
            <setting name="Prt_Name_SPB" serializeAs="String">
                <value>XXX</value>
            </setting>
            <setting name="Prt_Name_BPB" serializeAs="String">
                <value>XXX</value>
            </setting>
            <setting name="Prt_Name_Bukti_Timbang" serializeAs="String">
                <value>XXX</value>
            </setting>
            <setting name="Prt_Name_2" serializeAs="String">
                <value>XXX</value>
            </setting>
            <setting name="Prt_QC" serializeAs="String">
                <value>XXX</value>
            </setting>
            <setting name="Prt_Barcode" serializeAs="String">
                <value>XXX</value>
            </setting>
            <setting name="Prt_Barcode_QC" serializeAs="String">
                <value>XXX</value>
            </setting>
            <setting name="Port_Timbangan1" serializeAs="String">
                <value />
            </setting>
            <setting name="Port_Timbangan2" serializeAs="String">
                <value />
            </setting>
            <setting name="Port_Timbangan3" serializeAs="String">
                <value />
            </setting>
        </ERP_EMI.My.MySettings>
    </userSettings>
</configuration>